@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    
    
}
body{
    background-color: rgba(15, 152, 238, 0.189);
    /* background-image: url(../img/bk1260.jpg); */
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: auto;
    
    
    
}
header{
    width: 100%;
    margin: auto;
    height: 130px;
    position: sticky;
    background-color: #0a2563;
    /* border-radius: 0px 0px 10px 10px; */
    top: 0%;
    z-index: 1;
    
    
}
.header img{
    width:250px;
    position: relative;
    display: inline-flex;
    top: 14px;
    margin-left: 100px;
    
}
header ul{
    display: inline-flex;
    text-transform: uppercase;
    font-size: 15px;
    right: 10px;
    top: 50px;
    position: absolute;
}

.header li, .header a{
 color: #f1ebf8;
 padding: 5px 5px;
 border-radius: 3px;
 letter-spacing: .3px;
 
}

.header a:hover{
    transition: 350ms;
    color: #6a8dc5;
   }

   .container-carrocel{
    display: grid;
    width: 85vw;
    height: 500px;
    /* margin: auto ; */
    border-radius: 10px;
    top: 2px;
    margin-bottom: 10px;
    color: #251471;
    border: #0a2563 1px solid;
    align-items: center;
    position: absolute;
    transition: 450ms;
    opacity: 0;
    
   }
    
   
   .hideCarrocel{
    top: 2px;
    margin-bottom: 10px;
    display: grid;
    width: 85vw;
    height: 500px;
    position: absolute;
    color: #251471;
    text-align: center;
    opacity: 1;
    
   }
   .carrocel{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
    margin: auto;
    overflow: hidden;
    
}
    .container-carrocel #logoAm3, .hideCarroce #logoAm3{
        
        margin: auto;
        padding: 0%;
    
       }
   
    
    .container-carrocel h1, .hideCarrocel h1{
        /* font-size: 20px; */
        margin: 0%;
        padding: 0%;
    }

   .main{
    align-items: center;
    text-align: center;
    top: 530px;
    position: relative;
    
    
   }
   .main .content{
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    height: 250px;
    width: 250px;
    background-color: #5a69efea;
    position:relative;
    text-align: center;
    display: inline-flex;
    
   }

  .descricao{
    line-height: 25px;
    letter-spacing: .5px;
    font-size: 13px;
    transform: translateY(20px);
    color:rgb(13, 10, 37);
   }

   main .content:nth-child(1){
    animation-delay: -3s ;
   }
   main .content:nth-child(2){
    animation-delay: -1s ;
   }
   main .content:nth-child(3){
    animation-delay: 1s ;
   }
   main .content:nth-child(4){
    animation-delay: 4s ;
   }
   @keyframes cont {
    100% {
       filter: blur(1px); 

  }
}
  

   footer{
    height: 100px;
    width:300px;
    border-radius: 0px 0px 10px 10px;
    background-color: #4f6132df;
    /* margin: auto auto; */
    bottom: 0%;
    position: absolute;
    text-align: center;
       
    
   }



  @media screen and (max-width: 900px){
    .header ul{
        width: 400px;
    }
    
  }







    /*  ----------------------TOM AVERMELHADO---------------------------

   @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

:root{
    backIndex = background-color: #760d0d96;
}

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}
body{
    background-color: rgba(95, 158, 160, 0.189);
    background-image: url(/img/bkfull.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 1024px;
    height: 67px;
    margin: auto;
    background-image: linear-gradient(180deg, #760d0d96, #760d0d71,   #760d0d19);
    border-radius: 0px 0px 10px 10px;
}
header ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.header li{
 margin: auto;
 margin-top: 18px;
 color: #ffffff;
 padding: 5px;
 border-radius: 3px;
 text-shadow: #3e0fab 0px 6px 10px;
 letter-spacing: 1px;
 
}

.header li{
    margin: auto;
    margin-top: 18px;
    color: #eee6cf;
    padding: 5px;
    border-radius: 3px;
    text-shadow: #3e0fab 0px 6px 10px;
    font-size: 20px;
   }

   #nomeh1{
    text-align: center;
    background-color:  #760d0db7;
    width: 450px;
    height: 200px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    margin-top: 80px;
    color: #e8d192;
    align-content: center;
    
   }

   #nome{
    
   } */