@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Ubuntu:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amaranth&family=Montserrat+Alternates:wght@200&family=Ubuntu:wght@300;500&display=swap');

:root{
    --background-ligth:#e1e5fa;
    --cor-fonte: #330066;
    --fonte-destak: #e9a82f;
}

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family:'Amaranth', sans-serif;
    
    
}

.header-mobile{
    display: none;
}

.header{
    height: 100px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 25%);
    background-image: linear-gradient(190deg, #b2d1d6,#f5f8f8, #faf8fd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 60px;
    gap: .5rem;
}

.header img{
    width: 8%;
    box-shadow: 0px 2px 10px 10px #e1e5fa;
    
          
}

.nome-topo{
    align-content: center;
}
.nome-topo h2{
    font-size: 30px;
    color: #330066
}

.nome-topo p{
    font-size: 20px;
    color: orange
}

.contact{
    display: flex;
    align-items: center;
    gap: .7rem;
    
    
}
.contact p{
    font-weight: bold;
    color: var(--cor-fonte);
    font-size: 18px;
}

.contact img{
    width: 30px;
    border-radius: 5px;
}

.contact img:hover, .contact p:hover{
    box-shadow: 0px 0px 2px 5px #fdfbfd;
}
#ligamos{
    border-radius: 1rem;
    background: orange;
    padding: .6rem;
    transition: 250ms;
    
}
#ligamos:hover a{
    color: #f5f3f0;
    }
#ligamos:hover{
    box-shadow: 0px 0px 2px 5px #fdfbfd;
}

.menu ul{
    display:flex;
    gap: 3rem;
    
}
.menu{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 18px;
    border-bottom: #f6fafa1c 0px solid;
    transition: 350ms;
}
.menu a:hover{
    /*border-radius: 16px;*/
    /*background-color: #656b6b;*/
    padding: 0px;
    box-shadow: 0px 0px 2px 5px #fdfbfd;
    border-bottom: #330066 .125rem solid;
    
}

.item-menu-segmento li{
    display: none;
}


.menu-mobile{
    display: none;
}

/*------------------------*/
main{
    margin-top: 0px;
    padding: 0%;
      
}

.container-news{
    text-align: center;
    width: 100%;
    height: 20px;
    padding: 2%;
    margin: 5px 0px 25px 0px;
    background-color: #73c21a;
    font-size: 13px;
}

.container-news a{
     font-size: 12px;
}
.container-main{
    display: flex;
    justify-content: center;
    margin: auto auto;
    text-align: left;
    
}
.container-main img{
    width: 40%;
    border-radius: 5px;
}
.text1{
    display: block;
    width: 350px;
    margin-right: 60px;
    color:#330066;
    float: left;
    text-align:justify ;
}
.text1 h1 {
    font-size:23px;
    text-align: center;
    
}

.text1 p {
    font-size: 20px;
    line-height: 30px;
    
}
.section2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.bl{
    display: flex;
    border: #330066 1px solid;
    width: 230px;
    height: 230px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin: 10px;
    transition: 400ms;
}

.bl:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 2px 5px #dfdcd7;
    border-radius: 5px;
}
.pt1{
    font-size: 14px;
    padding: 10px;
}

.section-cliente{
    width: 100%;
    height: 350px;
    background-image: linear-gradient(180deg, rgb(241, 224, 224), rgb(245, 240, 245), rgb(216, 232, 236));
    text-align: center;
    box-shadow: 0px 0px 20px 4px #6a8ff3;
    border-radius: 80px;
}



/*----------------------------*/

footer{
    width: 100%;
    height: 25px;
    background-color: #d80b34;
    padding: 0%;
    margin: 0%;
    align-content: center;
    align-items: center;
    text-align: center;
    
}

footer div{
    
    text-align: center;
    color: #fbfdfd;
    font-size: smaller;
    align-content: center;
}











/*-----------responsividade-------------*/

/*-------------980px-------------------*/


@media screen and (max-width: 960px){

     *{
        transition: all 0.3s;
     }   
    .header h2{
        font-size: 19px;
    }
    .header p{
        font-size: 13px;
        
    }
    #ligamos{
        padding: 5px;
        border-radius: 1px;
    }
    .text1 h1{
        font-size: 18px;
    }
    .text1 p{
        font-size: 14px;
        line-height: 30px;
    }

    .section2 .bl{
        font-size: 14px;
        line-height: 16px;
    }

    .section2 .pt1{
        font-size: 12px;
        line-height: 14px;
    }
    .menu{
        font-size: 16px;
    }

    
.container-news{
    text-align: center;
    width: 100%;
    height: 20px;
    padding: 2%;
    margin: 5px 0px 25px 0px;
    background-color: #73c21a;
    font-size: 12px;
}

.container-news a{
     font-size: 10px;
}

}

/*-------------750px-------------------*/
@media screen and (max-width: 750px){

    .contact{
      display: block;
      text-align: center;
      
    }

    .contact img{
        width: 18px;
        margin-top: 9px;
     }

     .contact p{
        font-size: 18px;
            
         }
         .container-news{
            text-align: center;
            width: 100%;
            height: 14px;
            padding: 2%;
            margin: 5px 0px 25px 0px;
            background-color: #73c21a;
            font-size: 12px;
        }
        
        .container-news a{
             font-size: 10px;
        }
 
 
      .header{
          padding: 9px;
      }
      .menu{
          font-size: 14px;
      }
  
  }




/*-------------620px-------------*/

@media screen and (max-width: 620px){

    header{
        display: none;
    }


.header-mobile{
    display: contents;
    text-align: center;
    background-color: rgb(242, 250, 240);
    box-shadow: 0px 0px 2px 5px #3f331d;
    }

.header-mobile img{
    margin: 5px;
    
}
.contact-mobile{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
.contact-mobile p{
    color: var(--cor-fonte);
    font-size: 23px;
    
        
}

.contact-mobile img{
    width: 25px;
    border-radius: 5px;
    
}
.menu{
    display: none;
}
#ligamos{
    
    background: orange;
    padding: .3rem;
    font-size: 20px;
    transition: 250ms;
}


.container-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.text1{
    width: 100%;
    margin: 5px;
}
.text1 h1{
    text-align: center;
    font-size: 20px;
    
}

.text1 p{
    font-size: 18px;
    
}
.container-main img{
    width: 100%;
}
.section2{
    display: inline-block;
    padding: 1px;
    width: 100%;
    overflow: hidden;
}
.bl{
  width: auto;
  font-size: 25px  
  
}

.bl1 p{
    font-size: 20px;
    line-height: 25px;
}
.bl1 .pt1{
    font-size: 16px;
    line-height: 30px;
}


main{
    margin-top: 0%;
    background-color: #e1f1ec;
}


.container-news{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2px;
    margin: 5px 0px 40px 0px;
    background-color: #73c21a;
    font-size: 9px;
    font-weight: normal;
}

.container-news a{
     font-size: 7px;
}


/*menu dropbox-------------------*/


#check{
    display: none ;
  }

.checkbtn {
	float: right;
	margin: 20px;
	cursor: pointer;
	border-radius: 5px;
    
}

#sair-mobile, #sair-mobile a{
    background-color: #150425;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 2px 10px 5px #bb831b;
}

.btn{
  width: 25px;
  border-bottom: 3px rgb(85, 43, 182) solid;
  padding: 2px;
  border-radius: 1px;
  z-index: 1000;
  

}
.nav-mobile ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: rgba(36, 8, 97, 0.705);
    backdrop-filter: blur(6px);
    transition: all .2s;
    left: -100%;
    
}

#check:checked ~ ul{
    left: 0%;
    top: 8%;
}

.nav-mobile ul li a{
    display: block;
    color: #e6e2dd;
    text-shadow: 0px 3px 8px 9px #071113;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 15px;
        
}
.nav-mobile ul li:hover{
    background-color: #001366;
    border-radius: 8px;
    
}


footer{
    font-size: 12px;
}


}