@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(95, 158, 160, 0.189);
    background-image: url(../img/bk1260.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    margin: auto;
    width: auto;
    
}
header{
    width: 1024px;
    height: 67px;
    position: sticky;
    background-image: linear-gradient(180deg, #3e0fab, #445bb9d4,   #a4b2e659);
    border-radius: 0px 0px 10px 10px;
    top: 0%;
    margin: auto;
    
}

header ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header li, .header a{
 margin: auto;
 margin-top: 18px;
 color: #ffffff;
 padding: 5px;
 border-radius: 3px;
 text-shadow: #3e0fab 0px 6px 10px;
 letter-spacing: 1px;
 transition: 200ms;
}

.header a:hover{
    color: #9ced1b;
    border-bottom: #3e0fab 1px solid;
    text-shadow: #ece9f3 0px 6px 10px;
   }
   #nomeh1{
    text-align: center;
    background-color:  #5a69efdf ;
    width: 450px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
    border-radius: 10px;
    margin-top: 55px;
    margin-bottom: 55px;
    color: #ffffff;
    
    
   }
   main{
    align-items: center;
    text-align: center;
    
   }

   .content1{
    height: 250px;
    width: 250px;
    background-color: #5a69efea;
    display: inline-flex;
    text-align: center;
    transition: 250ms;
    border-radius: 50px 0px 0px 0px;
    transition: 250ms;
    
   }
   .content2{
    height: 250px;
    width: 250px;
    background-color: #5a69efea;
    display: inline-flex;
    text-align: center;
    transition: 250ms;
    border-radius: 0px 50px 0px 0px;
    transition: 250ms;
    
   }

   .content3{
    height: 250px;
    width: 250px;
    background-color: #5a69efea;
    display: inline-flex;
    text-align: center;
    transition: 250ms;
    border-radius: 0px 0px 0px 50px;
    transition: 250ms;
    
   }

   .content4{
    height: 250px;
    width: 250px;
    background-color: #5a69efea;
    display: inline-flex;
    text-align: center;
    transition: 250ms;
    border-radius: 0px 0px 50px 0px;
    transition: 250ms;
    
   }
   .content1:hover, .content2:hover, .content3:hover, .content4:hover{
    height: 250px;
    width: 250px;
    background-color: #1e2673f9;
    transform: scale(1.039);
    
   }
   #footer{
    height: 100px;
    width:300px;
    border-radius: 0px 0px 10px 10px;
    background-color: #4f6132df;
    margin: auto;
   }











    /*  ----------------------TOM AVERMELHADO---------------------------

   @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

:root{
    backIndex = background-color: #760d0d96;
}

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}
body{
    background-color: rgba(95, 158, 160, 0.189);
    background-image: url(/img/bkfull.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 1024px;
    height: 67px;
    margin: auto;
    background-image: linear-gradient(180deg, #760d0d96, #760d0d71,   #760d0d19);
    border-radius: 0px 0px 10px 10px;
}
header ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.header li{
 margin: auto;
 margin-top: 18px;
 color: #ffffff;
 padding: 5px;
 border-radius: 3px;
 text-shadow: #3e0fab 0px 6px 10px;
 letter-spacing: 1px;
 
}

.header li{
    margin: auto;
    margin-top: 18px;
    color: #eee6cf;
    padding: 5px;
    border-radius: 3px;
    text-shadow: #3e0fab 0px 6px 10px;
    font-size: 20px;
   }

   #nomeh1{
    text-align: center;
    background-color:  #760d0db7;
    width: 450px;
    height: 200px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    margin-top: 80px;
    color: #e8d192;
    align-content: center;
    
   }

   #nome{
    
   } */